.sidebar-container {
    width:92px;    
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;  
    border-right: 1px solid #CCCCCC;
  }
  
  .sidebar-icon img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    margin: 2.1rem 0;
    cursor: pointer;
    transition: filter 0.3s ease-in-out;
}

/* Change image color to #178BFF on hover */
.sidebar-icon img:hover {
  filter: brightness(0) saturate(100%) invert(27%) sepia(91%) saturate(2468%) hue-rotate(201deg) brightness(98%) contrast(95%);
}

